@use 'lib' as *;

.promo {
	$self: &;

	padding-bottom: fluid(50px, 25px);

	&__container {

	}

	&__swiper {
		margin-bottom: 32px;
		position: relative;
	}

	&__slide {
		box-shadow: 0px 4px 4px 0px #00000040;
		height: fluid(497px, 240px);

		img {
			width: 100%; height: 100%;
			object-fit: cover;
			object-position: center left;
		}
	}

	&__slide-hidden {
		display: none;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@include media("<=xlg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=sm") {
			grid-template-columns: 100%;
		}
	}

	&__card {
		color: #FFFFFF;
		background: linear-gradient(90deg, #21A7B6 0%, #38CBD9 100%);
		border-radius: 20px;
		padding: 26px;
	}

	&__card-up {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
		margin-bottom: 8px;
	}

	&__card-title {
		font-size: fluid(23px, 18px);
		font-weight: 700;
	}

	&__card-image {
		height: fluid(96px, 64px);
		object-fit: contain;
	}

	&__desc {

	}
	
	&__navigation {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;

		@include media("<=xlg") {
			width: 100%;
		}

		@include media("<=md") {
			display: none;
		}
	}

	&__navigation-btn {
		width: 46px;
		height: 46px;
		border-radius: 50%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}
