@use 'lib' as *;

.about {
	$self: &;

	margin-top: fluid(50px, 25px);
	padding: fluid(70px, 35px) 0;
	background: #faf6f3;
	margin-bottom: fluid(96px, 24px);
	position: relative;

	@include media(">md") {
		padding-bottom: 0;
	}

	&__main {
		margin-bottom: fluid(60px, 32px);
	}

	&__container {}

	&__side {
		max-width: 50%;
		padding-top: 30px;

		@include media("<=sm") {
			max-width: 100%;
			padding-top: 0;
			margin-bottom: 32px;
		}
	}

	&__title {
		font-size: fluid(28px, 24px);
		margin-bottom: 24px;
	}

	&__text {
		line-height: 150%;
	}

	&__image {
		position: absolute;
		height: 446px;
		right: 0;
		top: 60px;
		width: 45%;
		border-radius: 1000px 0 0 1000px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media("<=sm") {
			position: static;
			top: 0;
			width: 100%;
			border-radius: 16px;
		}
	}

	&__info {
		color: #FFFFFF;
		border-radius: fluid(30px, 24px);
		padding: 32px fluid(80px, 24px);
		background: linear-gradient(269.31deg, #1AB0BB 22.1%, #23CEDA 53.93%);
		box-shadow: 0px 4px 40px 0px #0000001A;
		transform: translateY(70px);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px 64px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
			transform: none;
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__info-column {}

	&__info-value {
		font-weight: 600;
		font-size: fluid(30px, 24px);
		margin-bottom: 12px;
		display: block;

		@include media("<=xs") {
			font-size: 32px;
			margin-bottom: 4px;
		}
	}

	&__info-text {
		max-width: 216px;
		line-height: 150%;
		font-size: fluid(18px, 16px);
	}

}