<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__columns">
                <div class="footer__column">
                    <h4 class="footer__column-title">Услуги</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Консультация и диагностика</a></li>
                        <li class="footer__list-item"><a href="#">Имплантология</a></li>
                        <li class="footer__list-item"><a href="#">Хирургическая стоматология</a></li>
                        <li class="footer__list-item"><a href="#">Лечение зубов (терапия)</a></li>
                        <li class="footer__list-item"><a href="#">Ортопедия и протезирование</a></li>
                        <li class="footer__list-item"><a href="#">Детская стоматология</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">О клинике</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">О клинике</a></li>
                        <li class="footer__list-item"><a href="#">Врачи</a></li>
                        <li class="footer__list-item"><a href="#">Портфолио</a></li>
                        <li class="footer__list-item"><a href="#">Лицензии</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">Статьи</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Полезно знать</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">Записаться</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Заказать звонок</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__side">
                <div class="footer__links">
                    <a href="#" class="footer__link">+7(963)622-88-99</a>
                    <a href="#" class="footer__link">info@dentavidnoe.ru</a>
                </div>
                <img loading="lazy" src="./img/logo.webp" alt="" class="footer__logo">
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__guard">
                ©2026. «ДентаВид» Все права защищены.
            </p>
            <a href="#" class="footer__policy">
                Политика конфиденциальности
            </a>
        </div>
    </div>
</footer>

<!-- @@include("_sprite.svg") -->
<script src="js/common.js?v=0"></script>
</body>

</html>