<header data-header-js class="header">
    <div class="header__top">
        <div class="header__top-container container">
            <div class="header__side header__side_first">
                <p class="header__text header__address">
                    <span>Видное,</span>
                    Битцевский проезд, дом 17
                </p>
                <p class="header__text header__hours">
                    Часы работы ЕЖЕДНЕВНО
                    <span>с 9:00 до 21:00</span>
                </p>
                <a href="#" class="header__mail">
                    info@dentavidnoe.ru
                </a>
            </div>
            <div class="header__side header__side_second">
                <a href="#" class="header__order">
                    Заказать звонок
                </a>
                <a href="#" class="header__callback">
                    Получить консультацию
                </a>
                <div class="header__socials">
                    <a href="#" class="header__social">
                        <img loading="lazy" src="./img/icons/telegram.webp" alt="">
                    </a>
                    <a href="#" class="header__social">
                        <img loading="lazy" src="./img/icons/max.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="header__main-container container">
            <a href="#" class="header__logo">
                <img loading="lazy" src="./img/logo.webp" alt="">
            </a>
            <div class="header__menu">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item header__item_menu">
                            <div class="header__item-head">Услуги</div>
                            <ul class="header__item-list">
                                <li class="header__item-link"><a href="#">Услуга 1</a></li>
                                <li class="header__item-link"><a href="#">Услуга 2</a></li>
                                <li class="header__item-link"><a href="#">Услуга 3</a></li>
                            </ul>
                        </li>
                        <li class="header__item header__item_menu">
                            <div class="header__item-head">О компании</div>
                            <ul class="header__item-list">
                                <li class="header__item-link"><a href="#">Услуга 1</a></li>
                                <li class="header__item-link"><a href="#">Услуга 2</a></li>
                                <li class="header__item-link"><a href="#">Услуга 3</a></li>
                            </ul>
                        </li>
                        <li class="header__item">
                            <a href="#">Цены</a>
                        </li>
                        <li class="header__item">
                            <a href="#">Статьи</a>
                        </li>
                        <li class="header__item">
                            <a href="#">Врачи</a>
                        </li>
                        <li class="header__item">
                            <a href="#">Портфолио</a>
                        </li>
                        <li class="header__item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__mobile">
                    <p class="header__text header__address">
                        <span>Видное,</span>
                        Битцевский проезд, дом 17
                    </p>
                    <p class="header__text header__hours">
                        Часы работы ЕЖЕДНЕВНО
                        <span>с 9:00 до 21:00</span>
                    </p>
                    <a href="#" class="header__mail">
                        info@dentavidnoe.ru
                    </a>
                    <a href="#" class="header__order">
                        Заказать звонок
                    </a>
                    <a href="#" class="header__callback">
                        Получить консультацию
                    </a>
                    <div class="header__socials">
                        <a href="#" class="header__social">
                            <img loading="lazy" src="./img/icons/telegram.webp" alt="">
                        </a>
                        <a href="#" class="header__social">
                            <img loading="lazy" src="./img/icons/max.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <a href="tel:+7 (963) 622-88-99" class="header__phone">+7 (963) 622-88-99</a>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>