@use 'lib' as *;

.callback {
	$self: &;

	border-radius: fluid(100px, 24px) 0 fluid(100px, 24px) 0;
	overflow: hidden;
	position: relative;
	padding: fluid(60px, 48px) 0;
	margin: fluid(50px, 25px) 0;

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {
		font-size: fluid(30px, 24px);
		margin-bottom: 8px;
	}

	&__desc {
		margin-bottom: 16px;
	}

	&__form {}

	&__form-inputs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		margin-bottom: 16px;

		input,
		textarea {
			padding: 18px 24px;
			background: #ffffff;
			border-radius: 30px;
		}

		textarea {
			grid-row: 1 / span 2;
			grid-column: 2 / span 1;

			@include media("<=xs") {
				grid-column: auto;
				grid-row: auto;
			}
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__form-bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		@include media("<=xs") {
			flex-direction: column;
		}
	}

	&__agree {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		cursor: pointer;

		input {
			width: 32px;
			height: 32px;
			background: #ffffff;
			border-radius: 50%;
			appearance: none;
			position: relative;
			flex: 0 0 auto;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 16px;
				height: 13px;
				background: url("../img/icons/agree.svg");
				background-size: contain;
				background-repeat: no-repeat;
				opacity: 0;
				transition: all $transition;
			}

			&:checked {
				&:after {
					opacity: 1;
				}
			}

		}
	}

	&__agree-text {
		font-size: 12px;
		max-width: 540px;

		a {
			color: #383838;
			text-decoration: underline;
		}
	}

	&__submit {
		background: #1AB0BB;
		border-radius: 30px;
		width: 100%;
		max-width: 320px;
		padding: 16px;
		font-weight: 500;
		color: #ffffff;
		transition: all $transition;

		&:hover {
			opacity: 0.7;
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 10% 70%;
		}
	}

}