@use 'lib' as *;

.stocks {
	$self: &;

	&__container {
		position: relative;
	}

	&__title {
		font-size: fluid(30px, 25px);
		margin-bottom: 20px;
	}

	&__desc {
		margin-bottom: 16px;
		line-height: 150%;
	}

	&__swiper.swiper {
		padding: 24px;
		box-shadow: 0px 4px 25px 0px #0000001A;
		background: #ffffff;
		border-radius: 16px;
		margin-bottom: 24px;

		@include media("<=xs") {
			padding: 0;
			box-shadow: none;
			background: none;
			border-radius: 0;
		}
	}

	&__item.swiper-slide {
		position: relative;
		height: 230px;
		border-radius: 20px;
		overflow: hidden;
	}

	&__item-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__item-hidden {
		display: none;
	}

	&__pagination {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 8px;

		span {
			background: #C7CFD8;
			width: 32px; height: 4px;
			border-radius: 8px;

			&.swiper-pagination-bullet-active {
				background: #1AB0BB;
			}
		}
	}

	&__navigation {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		width: 100%;
		padding: 0 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include media("<=xlg") {
			width: 100%;
		}

		@include media("<=md") {
			display: none;
		}
	}

	&__navigation-btn {
		width: 46px; height: 46px;
		border-radius: 50%;

		img {
			width: 100%; height: 100%;
			object-fit: cover;
		}
	}

}
