@use 'lib' as *;

.contacts {
	$self: &;

	padding: fluid(50px, 25px) 0;

	&__container {
		display: grid;
		gap: 24px;
		grid-template-columns: minmax(auto, 556px) 1fr;

		@include media("<=md") {
			grid-template-columns: 100%;
		}
	}

	&__side {
		padding: 40px 24px 60px 24px;
		min-height: 414px;
		background: #FAF6F3;
		border-radius: 16px
	}

	&__title {
		font-size: 24px;
		margin-bottom: 12px;
	}

	&__address {
		font-size: fluid(20px, 16px);
		max-width: 315px;
	}

	&__mail {
		display: block;
		font-size: fluid(20px, 16px);
		margin-bottom: 16px;
	}

	&__time {
		font-size: fluid(20px, 16px);
		margin-bottom: 16px;
	}

	&__call {
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;

		b {
			font-weight: 400;
			margin-bottom: 4px;
		}

		a {
			text-decoration: underline;
			font-size: fluid(24px, 18px);
		}
	}

	&__callback {
		@include flex-center;

		color: #ffffff;
		background: $blue;
		padding: 10px 18px;
		font-weight: 500;
		width: fit-content;
		border-radius: 30px;
	}

	&__map {
		width: 660px;

		@include media("<=lg") {
			width: 520px;
		}

		@include media("<=md") {
			width: 100%;
			aspect-ratio: 4 / 3;
		}
	}

}