@use 'lib' as *;

.doctors {
	$self: &;

	overflow: hidden;
	padding: fluid(50px, 25px) 0;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: fluid(30px, 24px);
		margin-bottom: 20px;
	}

	&__desc {
		margin-bottom: 54px;
		max-width: 1286px;
	}

	&__swiper.swiper {
		overflow: visible;
		margin-bottom: 16px;
		max-width: 100%;

		.swiper-wrapper {
			margin-bottom: 36px;
		}
	}

	&__item {
		border-radius: 30px;
		overflow: hidden;
		box-shadow: 1px 0px 16px 0px #00000033;

	}

	&__item-img {
		height: 252px;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}

	&__item-info {
		display: flex;
		flex-direction: column;
		padding: 32px 24px;
	}

	&__item-title {
		margin-bottom: 8px;
		color: #563518;
		font-weight: 600;
	}

	&__item-desc {
		color: #563518;
		margin-bottom: 16px;
		font-size: 14px;
	}

	&__item-time {
		display: flex;
		align-items: center;
		gap: 8px;
		color: #7F9540;

		&::before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: url("../img/icons/time.svg") no-repeat center / contain;
		}
	}

	&__pagination {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		justify-content: center;

		span {
			background: #C7CFD8;
			border-radius: 8px;
			width: 32px;
			height: 4px;
			transition: all $transition;

			&.swiper-pagination-bullet-active {
				background: #49C1CD;
			}
		}
	}

	&__navigation {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		width: calc(100% + (46px * 2));
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include media("<=xlg") {
			width: 100%;
		}

		@include media("<=md") {
			display: none;
		}
	}

	&__navigation-btn {
		width: 46px;
		height: 46px;
		border-radius: 50%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__more {
		@include flex-center;

		width: fit-content;
		font-weight: 600;
		border-radius: 30px;
		color: #ffffff;
		background: #1AB0BB;
		padding: 20px 28.5px;
		align-self: center;
	}

}